.badge {
  font-size: 0.75rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.list-group-item {
  cursor: pointer;

  &:hover {
    background-color: #f8f9fa;
  }

  &.active {
    background-color: #0d6efd;
    border-color: #0d6efd;

    .text-muted {
      color: rgba(255, 255, 255, 0.75) !important;
    }
  }
}

.btn-tbl-delete {
  background-color: #dc3545;
  color: white;
  &:hover {
    background-color: #c82333;
    color: white;
  }
}

.searchbox {
  position: relative;

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: rgba(0, 0, 0, 0.54);
  }
}
