<section class="main-content">
  <ul class="breadcrumb breadcrumb-style">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">{{ 'SETTINGS.TEXT' | translate }}</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard">
        <i class="fas fa-home font-17"></i>
      </a>
    </li>
    <li class="breadcrumb-item">{{ 'SETTINGS.TEXT' | translate }}</li>
    <li class="breadcrumb-item">
      <a routerLink="/settings/menus/list">{{ 'MENUS.TITLE' | translate }}</a>
    </li>
    <li class="breadcrumb-item active">{{ 'MENU_ITEMS.TITLE' | translate: { menu: menu?.title } }}</li>
  </ul>
  <div class="section-body">
    <!-- Menu Info Card -->
    @if (menu) {
      <div class="row mb-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="mb-0">{{ menu.title }}</h4>
                <button class="btn btn-outline-secondary" (click)="goBack()">
                  <i class="fas fa-arrow-left me-1"></i>
                  {{ 'COMMON.BACK' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    }

    <!-- Menu Items Table -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="p-10">
            <div class="row">
              <div class="col-lg-6">
                <div class="row m-0">
                  <div class="col-auto p-0">
                    <div class="ngxTableHeader">
                      <div class="table-title">
                        <h2><strong>{{ 'MENU_ITEMS.TITLE' | translate: { menu: menu?.title } }}</strong></h2>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-search-area">
                        <div>
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input
                            [placeholder]="'MENU_ITEMS.SEARCH_PLACEHOLDER' | translate"
                            type="text"
                            class="browser-default search-field"
                            (keyup)="filterDatatable($event)"
                            [attr.aria-label]="'COMMON.SEARCH' | translate"
                          />
                        </div>
                      </div>
                      <div class="header-buttons-left">
                        <div class="tbl-btn-style">
                          <button
                            class="btn btn-icon icon-left btn-primary rounded-button"
                            (click)="openAddModal(addMenuItemModal)"
                          >
                            <i class="material-icons">add</i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ngx-datatable
              #table
              class="material"
              [rows]="filteredMenuItems"
              [loadingIndicator]="loading"
              columnMode="force"
              [headerHeight]="60"
              [footerHeight]="80"
              rowHeight="auto"
              [limit]="10"
            >
              <ngx-datatable-column prop="id" [width]="80">
                <ng-template ngx-datatable-header-template>
                  {{ 'COMMON.ID' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.id }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="title" [width]="200">
                <ng-template ngx-datatable-header-template>
                  {{ 'MENU_ITEMS.TITLE_FIELD' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.title }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="path">
                <ng-template ngx-datatable-header-template>
                  {{ 'MENU_ITEMS.PATH' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.path || '-' }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="parentId" [width]="150">
                <ng-template ngx-datatable-header-template>
                  {{ 'MENU_ITEMS.PARENT' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ getParentTitle(row.parentId) }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="resourceCode" [width]="150">
                <ng-template ngx-datatable-header-template>
                  {{ 'MENU_ITEMS.RESOURCE' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  @if (row.resourceCode) {
                    <code>{{ row.resourceCode }}</code>
                  } @else {
                    -
                  }
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="displayOrder" [width]="100">
                <ng-template ngx-datatable-header-template>
                  {{ 'MENU_ITEMS.ORDER' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.displayOrder }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column prop="icon" [width]="120">
                <ng-template ngx-datatable-header-template>
                  {{ 'MENU_ITEMS.ICON' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  @if (row.icon) {
                    <i [class]="row.icon"></i>
                    <span class="ms-1">{{ row.icon }}</span>
                  } @else {
                    -
                  }
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Actions" [sortable]="false" [width]="140">
                <ng-template ngx-datatable-header-template>
                  {{ 'COMMON.ACTIONS' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="d-flex gap-2">
                    <button class="btn btn-tbl-edit btn-sm" (click)="openEditModal(editMenuItemModal, row)" [title]="'COMMON.EDIT' | translate">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button class="btn btn-tbl-delete btn-sm" (click)="deleteMenuItem(row)" [title]="'COMMON.DELETE' | translate">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Add Menu Item Modal -->
<ng-template #addMenuItemModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ 'MENU_ITEMS.ADD_NEW' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="menuItemForm" (ngSubmit)="onAddMenuItemSave()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">
            {{ 'MENU_ITEMS.TITLE_FIELD' | translate }} <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.TITLE_PLACEHOLDER' | translate"
            formControlName="title"
          />
          @if (menuItemForm.get('title')?.invalid && menuItemForm.get('title')?.touched) {
            <small class="form-text text-danger">
              @if (menuItemForm.get('title')?.errors?.['required']) {
                {{ 'VALIDATION.REQUIRED' | translate }}
              }
              @if (menuItemForm.get('title')?.errors?.['minlength']) {
                {{ 'VALIDATION.MIN_LENGTH' | translate: { min: 2 } }}
              }
              @if (menuItemForm.get('title')?.errors?.['maxlength']) {
                {{ 'VALIDATION.MAX_LENGTH' | translate: { max: 100 } }}
              }
            </small>
          }
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">
            {{ 'MENU_ITEMS.ORDER' | translate }} <span class="text-danger">*</span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="displayOrder"
            min="0"
          />
          @if (menuItemForm.get('displayOrder')?.invalid && menuItemForm.get('displayOrder')?.touched) {
            <small class="form-text text-danger">
              {{ 'VALIDATION.REQUIRED' | translate }}
            </small>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.PARENT' | translate }}</label>
          <select
            class="form-control form-select"
            formControlName="parentId"
          >
            <option [ngValue]="null">{{ 'MENU_ITEMS.NO_PARENT' | translate }}</option>
            @for (item of getRootMenuItems(); track item.id) {
              <option [ngValue]="item.id">{{ item.title }}</option>
            }
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.RESOURCE' | translate }}</label>
          <select
            class="form-control form-select"
            formControlName="resourceId"
          >
            <option [ngValue]="null">{{ 'MENU_ITEMS.NO_RESOURCE' | translate }}</option>
            @for (resource of resources; track resource.id) {
              <option [ngValue]="resource.id">{{ resource.name }} ({{ resource.code }})</option>
            }
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.PATH' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.PATH_PLACEHOLDER' | translate"
            formControlName="path"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.ICON_TYPE' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.ICON_TYPE_PLACEHOLDER' | translate"
            formControlName="iconType"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.ICON' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.ICON_PLACEHOLDER' | translate"
            formControlName="icon"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.CLASS_NAME' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.CLASS_NAME_PLACEHOLDER' | translate"
            formControlName="className"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.BADGE' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.BADGE_PLACEHOLDER' | translate"
            formControlName="badge"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.BADGE_CLASS' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.BADGE_CLASS_PLACEHOLDER' | translate"
            formControlName="badgeClass"
          />
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-check mt-4">
            <input
              class="form-check-input"
              type="checkbox"
              id="groupTitle"
              formControlName="groupTitle"
            />
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <label class="form-check-label" for="groupTitle">
              {{ 'MENU_ITEMS.GROUP_TITLE' | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="menuItemForm.invalid">
          {{ 'COMMON.SAVE' | translate }}
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close()">
          {{ 'COMMON.CLOSE' | translate }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Edit Menu Item Modal -->
<ng-template #editMenuItemModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-edit-title">
      {{ 'MENU_ITEMS.EDIT' | translate }}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editMenuItemForm" (ngSubmit)="onEditMenuItemSave()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">
            {{ 'MENU_ITEMS.TITLE_FIELD' | translate }} <span class="text-danger">*</span>
          </label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.TITLE_PLACEHOLDER' | translate"
            formControlName="title"
          />
          @if (editMenuItemForm.get('title')?.invalid && editMenuItemForm.get('title')?.touched) {
            <small class="form-text text-danger">
              @if (editMenuItemForm.get('title')?.errors?.['required']) {
                {{ 'VALIDATION.REQUIRED' | translate }}
              }
              @if (editMenuItemForm.get('title')?.errors?.['minlength']) {
                {{ 'VALIDATION.MIN_LENGTH' | translate: { min: 2 } }}
              }
              @if (editMenuItemForm.get('title')?.errors?.['maxlength']) {
                {{ 'VALIDATION.MAX_LENGTH' | translate: { max: 100 } }}
              }
            </small>
          }
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">
            {{ 'MENU_ITEMS.ORDER' | translate }} <span class="text-danger">*</span>
          </label>
          <input
            type="number"
            class="form-control"
            formControlName="displayOrder"
            min="0"
          />
          @if (editMenuItemForm.get('displayOrder')?.invalid && editMenuItemForm.get('displayOrder')?.touched) {
            <small class="form-text text-danger">
              {{ 'VALIDATION.REQUIRED' | translate }}
            </small>
          }
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.PARENT' | translate }}</label>
          <select
            class="form-control form-select"
            formControlName="parentId"
          >
            <option [ngValue]="null">{{ 'MENU_ITEMS.NO_PARENT' | translate }}</option>
            @for (item of getRootMenuItems(); track item.id) {
              @if (item.id !== editingMenuItem?.id) {
                <option [ngValue]="item.id">{{ item.title }}</option>
              }
            }
          </select>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.RESOURCE' | translate }}</label>
          <select
            class="form-control form-select"
            formControlName="resourceId"
          >
            <option [ngValue]="null">{{ 'MENU_ITEMS.NO_RESOURCE' | translate }}</option>
            @for (resource of resources; track resource.id) {
              <option [ngValue]="resource.id">{{ resource.name }} ({{ resource.code }})</option>
            }
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.PATH' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.PATH_PLACEHOLDER' | translate"
            formControlName="path"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.ICON_TYPE' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.ICON_TYPE_PLACEHOLDER' | translate"
            formControlName="iconType"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.ICON' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.ICON_PLACEHOLDER' | translate"
            formControlName="icon"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.CLASS_NAME' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.CLASS_NAME_PLACEHOLDER' | translate"
            formControlName="className"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.BADGE' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.BADGE_PLACEHOLDER' | translate"
            formControlName="badge"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ 'MENU_ITEMS.BADGE_CLASS' | translate }}</label>
          <input
            type="text"
            class="form-control"
            [placeholder]="'MENU_ITEMS.BADGE_CLASS_PLACEHOLDER' | translate"
            formControlName="badgeClass"
          />
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-check mt-4">
            <input
              class="form-check-input"
              type="checkbox"
              id="editGroupTitle"
              formControlName="groupTitle"
            />
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
            <label class="form-check-label" for="editGroupTitle">
              {{ 'MENU_ITEMS.GROUP_TITLE' | translate }}
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="editMenuItemForm.invalid">
          {{ 'COMMON.SAVE' | translate }}
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close()">
          {{ 'COMMON.CLOSE' | translate }}
        </button>
      </div>
    </form>
  </div>
</ng-template>
